div {
    background-color: hsl(0, 100%, 77%);
    width: 100px;
    height: 100px;
    display: block;
}

span {
    background-color: lightblue;
    width: 100px;
    height: 100px;
    display: inline;
}